body {
    line-height: 1.9;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/pexels-george-becker-361768.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;
    /* overflow: hidden; */
}


html {
    scroll-behavior: smooth;
}

.city-temp{
    width: 100% ;
}

.display-temp .temp-card:nth-of-type(1) {flex-grow: 4;}
.display-temp .temp-card:nth-of-type(2) {flex-grow: 1;}
.display-temp .temp-card:nth-of-type(3) {flex-grow: 1;}
.display-temp .temp-card:nth-of-type(4) {flex-grow: 1;}
.display-temp .temp-card:nth-of-type(5) {flex-grow: 1;}
.display-temp .temp-card:nth-of-type(6) {flex-grow: 1;}
.display-temp .temp-card:nth-of-type(7) {flex-grow: 1;}

/********* Start Global *********/
/* .main-color {color: #37aec3} */

input:focus-visible {outline: none;}

.btn {transition: all 0.3s;}

.btn:hover {
    color: #37aec3;
    background-color: #fff;
    border: 1px solid #37aec3;
}
/********* End Global *********/

/********* Start Display Temp *********/ 


.bg-color
{
    height: 100%;
}

.display-temp .search {width: 42%;}

.display-temp #search-bar {
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.display-temp .temp-card {
    border-radius: 8px;
}

.display-temp .temp-card:first-of-type h2 {
    font-size: 50px;
    font-weight: 600;
}

.display-temp .temp-card:nth-of-type(2), 
.display-temp .temp-card:nth-of-type(3),
.display-temp .temp-card:nth-of-type(4),
.display-temp .temp-card:nth-of-type(5),
.display-temp .temp-card:nth-of-type(6),
.display-temp .temp-card:nth-of-type(7) {
    margin-left: 0.25%;
    margin-right: 0.25%;
}

#today-description , .nextDay-description{
    color: white !important;
    font-size: 20px !important;
}

.display-temp .temp-card:nth-of-type(1){
    transition: all 0.3s;

} 

.display-temp .temp-card:nth-of-type(2), 
.display-temp .temp-card:nth-of-type(3),
.display-temp .temp-card:nth-of-type(4),
.display-temp .temp-card:nth-of-type(5),
.display-temp .temp-card:nth-of-type(6),
.display-temp .temp-card:nth-of-type(7)
 {
    background-image: url(../img/pexels-george-becker-361768.jpg);
    transition: all 0.3s;
}

.display-temp .temp-card:nth-of-type(1):hover,
.display-temp .temp-card:nth-of-type(2):hover,
.display-temp .temp-card:nth-of-type(3):hover, 
.display-temp .temp-card:nth-of-type(4):hover, 
.display-temp .temp-card:nth-of-type(5):hover, 
.display-temp .temp-card:nth-of-type(6):hover, 
.display-temp .temp-card:nth-of-type(7):hover 
{
    transform: scale(1.1);
}

.display-temp .temp-card .day-and-date {
    color: white;
    padding: 10px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-shadow: 4px 4px 4px #000000;

}

.display-temp .temp-card .day-and-date p {margin: 0 !important;}

.display-temp .temp-card #location {
    font-size: 22px;
    text-shadow: 0 0 1px #fff,  0 0 1px #fff
}


.display-temp .temp-card .temp-datails {
    padding: 25px;
    color: #fff;
}

.display-temp .temp-card .temp-datails #today-description,
.display-temp .temp-card .temp-datails .nextDay-description {
    font-size: 14px;
    color: #455a64;
    text-shadow: 0 0 1px #455a64,  0 0 1px #455a64;
}
/* Small to Medium Screen */
@media (max-width: 991px) 
{
    /* Display Temp */
    .display-temp .city-temp {display: block !important;}

    .display-temp #search-bar {margin-bottom: 10px !important;}

    .display-temp .search,
    .display-temp .temp-card {
        width: 100%;
        margin: 20px 0 !important;
    }

    
}
/********* End Display Temp *********/ 




/********* Start Footer *********/ 
footer {
    background-color: #374850;
    padding: 10px 0;
}

footer i {
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

footer i:hover {color: #37aec3;}
/********* End Footer *********/ 




